.image-desgin{
    border-top-right-radius: 40px;
    
}
.card{
    background-color: #DBE8D9;
    border-top-right-radius: 40px;
    border-bottom-left-radius: 30px;
}

.ba-color{
    background-color: #2B3531;
}
